<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaveGen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="header-main">
        <div class="header-main-logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/wavegen-high-resolution-logo-transparent.png') }}" alt="WaveGen Logo">
            </a>
        </div>
        <nav class="header-main-nav">
            <ul>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('chatbot') }}">Chat Bot</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="main-layout">
        <div id="search-history" class="search-history">
            <h3>Search History</h3>
            <ul id="history-list"></ul>
        </div>
        
        <div class="song-container">
            <h1>Display Spotify Song Data</h1>
            <div class="search-container">
                <input type="text" id="song-name" placeholder="Enter song name">
                <button id="search-song" class="search-button">Search</button>
            </div>
            <div id="song-info" class="song-card"></div>
        </div>
    </div>

</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>